
/* CSS Reset Rule */

nav, main, footer {
    margin: 0;
    padding: 0;
    border: 0;
    text-shadow: 1px 1px 2px #000; 
    /*This text shadow is important. It ensures that white text on semi transparent or busy backgrounds is easy to read. I made it #000 because I usually use dark backgrounds
    and white text on my webpages; however, if you use light backgrounds and dark text, change it to #fff. */
}

/* This webpage uses a mobile first designing approach; therefore, the first styles listed are ones that affect mobile phone viewports only. 
They also include basic styling rules, such as font color and background, that cascade to the other sizes. 
While creating the webpage, make sure to run and debug the code regularly. You can go into developer mode by hitting CTRL + SHIFT + I on your keyboard and try out 
different viewport sizes to see what formatting breaks and what you need to fix. In order to edit the code for a specific viewport size, go to that device or size's media query
and edit the code there. If a style for a specific element is not specified within that query, then it is inherited from here. */

body {
    /* For mobile viewports, use a linear gradient or a plain color as the background. This is because background-attachment: fixed; does not work on many mobile browsers, 
    including Safari, and instead the browsers will scale up the image to fit everything and pixelate and distort it heavily in the process. */
    background-color: #000;
    margin: 5%;
    background-size: cover;
    font-size: 1em;
}

#content {
    background-color: #fff;
    padding: 4%;
    border-radius: 10px;
    font-family: 'Cabin', sans-serif;
}

#heads {
    border-bottom: 2px solid red;
    padding-bottom: 4%;
}

#heads h1 {
    font-family: 'Taviraj', serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5em;
    font-size: 2.5em;
    margin-bottom: 0;
    line-height: 1em;
    font-weight: bold;
}

#heads h3 {
    text-align: center;
    line-height: 1em;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 1.25em;
    font-family: 'Taviraj', serif;
    letter-spacing: 0.1em;
    font-weight: bold;
}

#hub {
    display: block;
    margin: 0 auto;
    background:#000;
    padding: 5%;
    margin-bottom: 2%;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    width: 50%;
    text-align: center;
    font-size: 1.25em;
    border: 1px solid red;
    border-radius: 10px;
}

nav {
    margin: 0 auto;
    display: block;
}

nav summary {
    text-transform: uppercase;
    text-align: center;
    margin: 2% auto;
    font-size: 1.25em;
    line-height: 1em;
}

nav ul {
    padding: 0;
}

nav ul li {
    list-style: none;
    text-align: center;
    background-color: #000103;
    margin: 2% auto;
    padding: 2%;
    width: 40%;
    border-radius: 8px;
}

nav a {
    color:#caedff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
}

h2 {
    font-family: 'Taviraj', serif;
    font-size: 1.75em;
    margin: 2%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .3em;
}

#basicssub {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 1%;
    line-height: 1em;
    font-size: 1em;
}

.grid {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-column-gap: 1.5%;
    margin: 0 auto;
    text-align: center;
    font-size: .8em;
    text-transform: lowercase;
}

.grid .gridhead {
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: bolder;
    padding-bottom: 0;
    font-style: normal;
    font-size: 1.15em;
}

.grid p {
    margin-top: 0;
    padding-top: 0;
    font-style:italic;
}

#basics {
    line-height: normal;
    margin: 0 auto;
    font-size: 1em;
    text-align: center;
}

#themesongs {
    background-color: rgb(0, 0, 0, .8);
    color: #fff;
    text-align: center;
    border: 1px solid red;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 10%;
    width: 80%;
    display: block;
    padding: 2%;
}

#themesongs img {
    width: 15%;
    margin: 0 auto;
    background: #000;
    padding: 3%;
    border-radius: 100%;
    border: 1px solid red;
    position: relative;
    top: -30px;
}

#themesongs h3 {
    line-height: 1em;
    margin: 0 auto;
    text-transform: uppercase;
    margin-top: -10%;
}

#themesongs p {
    margin: 4% auto;
    line-height: 1em;
    text-transform: uppercase;
    font-size: .9em;
}

#themesongs p:last-child {
    margin-bottom: 7%;
}

hr {
    margin: 10% 0;
}

#appearance p {
    text-align: center;
}

#appearance img {
    width: 100%;
}

#personality #personalitytraits {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    margin: 0 auto;
}

#personalitytraits div {
    background-color: #000;
    color: #fff;
    margin: 0 2%;
    padding: 0 1%;
    border-radius: 10px;
}

#personalitytraits div h3 {
    text-transform: uppercase;
    text-decoration: underline;
}

#positive {
    border: 1px solid greenyellow;
}

#positive p {
    color: greenyellow;
}

#neutral { 
    border: 1px solid yellow;
}

#neutral p { 
    color: yellow;
}

#negative {
    border: 1px solid red;
}

#negative p { 
    color: red;
}

#likesanddislikes {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
}

#personality dd {
    text-align: center;
}

#personality dt {
    text-transform: uppercase;
}

#personality p {
    text-align: center;
    padding: 0 3%;
}

#summoning h2 {
    margin-bottom: 0;
    line-height: 1em;
}

#summoning h3 {
    text-transform: uppercase;
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
    font-size: 1em;
    width: 100%;
}

#summoning h3 p:first-child {
    text-align: left;
    padding-right: 5%;
}

#summoning h3 p:last-child {
    text-align: right;
    padding-left: 5%;
}

#summoning dt {
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}

dd {
    margin: 0 3%;
    text-align: justify;
}

#summoning dd {
    margin-bottom: 5%;
}

#summoning dd:last-child {
    margin-bottom: 0;
}

#relationships h2 {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#relationships dt {
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}

#relationships dd {
    margin-bottom: 5%;
}

#relationships dd:last-child {
    margin-bottom: 0;
}

#history summary {
    text-transform: uppercase;
}

details p {
    position: relative;
    left: 10%;
    text-align: justify;
    font-size: 1em;
    width: 85%;
}

footer p {
    color: #fff;
    font-family: 'Cabin', sans-serif;
    font-size: 1em;
    line-height: 1em;
    text-align:center;
}

/* Media query - small tablets */
@media screen and (min-width: 600px) {

    body {
        margin: 10%;
    }

    .grid {
        font-size: 1.15em;
    }

    #themesongs {
        width: 60%;
        margin-top: 7%;
        font-size: 1.15em;
    }

    #themesongs img {
        top: -40px;
    }

    #themesongs p {
        font-size: 1em;
    }

    hr {
        margin: 4%;
    }

    #personality dd, #personality dt {
        margin: auto;
        text-align: center;
    }

    #heads h1 {
        font-size: 2.5em;
        letter-spacing: .1em;
    }

    h2 {
        font-size: 2em;
    }

    #relationships h2 {
        font-size: 2em;
    }
}

/* Media query - iPad Pro and similar large tablets */
@media screen and (min-width:1000px) {
    body {
        font-size: 1.25em;
    }

    #heads h1 {
        font-size: 4em;
    }

    #heads h3 {
        font-size: 2.5em;
    }

    #themesongs img {
        top: -50px;
    }

    #themesongs p {
        font-size: 1.25em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 1.75em;
    }

    #basicssub {
        font-size: 1.25em;
    }

    p, dl {
        font-size: 1.5em;
    }

    #personality dl {
        text-align: justify;
    }

    .grid p {
        font-size: 1.25em;
    }

    .gridhead {
        font-size: 1.75em;
    }
}

/* Media query - desktop */
@media screen and (min-width:1200px) {

    body {
        margin: 5% 30%;
        background-attachment: fixed;
        /* Your desktop background can go here */
    }

    #basics {
        width: 80%;
        margin: 0 auto;
    }

    #basicssub p {
        font-size: 1em;
    }

    .grid {
        font-size: .8em;
    }

    #heads h1 {
        font-size: 3.5em;
    }

    #heads h3 {
        font-size: 1.5em;
    }

    #hub {
        width: 30%;
        padding: 2%;
        margin-bottom: 0;
        font-size: 1.15em;
    }

    #heads {
        margin-bottom: 2%;
        padding-bottom: 2%;
    }

    nav summary {
        font-size: .9em;
    }

    nav ul li {
        width: 25%;
    }

    h2 {
        font-size: 2.5em;
        margin: 1% auto;
    }

    #basicssub {
        font-size: 1.1em;
        margin-bottom: .5%;
        line-height: 0;
    }

    #themesongs h3 {
        font-size: 1.15em;
        margin-top: -12%;
    }

    #themesongs p {
        font-size: .9em;
    }

    #appearance p {
        font-size: 1em;
        margin: 0 auto;
    }

    #appearance img {
        width: 70%;
        display: block;
        margin: 0 auto;
    }

    #personalitytraits p {
        font-size: .9em;
    }

    #personalitytraits h3 {
        font-size: 1.15em;
        margin: 2% auto;
        padding: 5%;
        line-height: 1em;
    }
    
    #likesanddislikes dl {
        font-size: 1em;
    }

    #personality p {
        font-size: 1em;
    }

    #summoning h3 {
        font-size: .75em;
        line-height: 1em;
        width: 70%;
        margin: 0 auto;
    }

    #summoning dl {
        font-size: 1em;
    }

    #relationships dl {
        font-size: 1em;
    }

    #history summary {
        font-size: 1em;
    }

    #historytext p {
        font-size: 1em;
    }
}